@import "tailwindcss";

:root {
  --header-height: 12.5rem;
  --footer-height: 12.5rem;

  --color-background: rgb(0, 0, 0);
  --color-foreground: rgb(255, 255, 255);

  --color-muted: rgb(102, 102, 102);
  --color-primary: rgb(255, 255, 255);
  --color-hover: rgba(255, 255, 255, 0.65);

  --color-bg-primary: rgba(255, 255, 255, 0.04);

  --color-overlay: rgba(0, 0, 0, 0.5);

  --color-border: rgb(51, 51, 51);
}

[data-theme="light"] {
  --color-background: rgb(255, 255, 255);
  --color-foreground: rgb(0, 0, 0);

  --color-muted: rgb(102, 102, 102);
  --color-primary: rgb(0, 0, 0);
  --color-hover: rgba(0, 0, 0, 0.65);

  --color-bg-primary: rgba(0, 0, 0, 0.04);

  --color-overlay: rgba(255, 255, 255, 0.5);

  --color-border: rgb(204, 204, 204);
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

p {
  line-height: 1.7;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

svg:hover {
  color: var(--color-hover);
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.expertise-item {
  transition: border-color 0.3s ease;
  padding-bottom: 1rem;
  position: relative;
}

.expertise-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-foreground);
  transition: width 0.3s ease-out;
}

.expertise-item:hover::after {
  width: 100%;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
